<p>Bienvenue {{username}}, vous êtes connecté !</p>


<div class="dashboard">
  <header>
    <h1>Dashboard</h1>
    <button (click)="logout()">Déconnexion</button>
  </header>

  <main>
    @if (isLoggedIn()) {
      <button (click)="loadData()">Charger des données</button>

      @if (data) {
        <pre>{{ data | json }}</pre>
      }
    }
  </main>
</div>

<h2>{{username}}'s ToDo</h2>

<form (submit)="addTask()">
  <input [(ngModel)]="newTaskLabel" name="taskLabel" placeholder="Nouvelle tâche" required />
  <button type="submit">Ajouter</button>
</form>

<ol>
  <li *ngFor="let task of tasks">

    <ng-container *ngIf="editingTaskId === task.id; else viewMode">
      <input [(ngModel)]="editedTask" name="editedTask">
      <button (click)="confirmEdit()">Sauvegarder</button>
      <button (click)="cancelEdit()" class="delete">Annuler</button>
    </ng-container>

    <ng-template #viewMode>
      <span [class.done]="task.done">{{ task.label }}</span>
      <button (click)="toggleTaskDone(task)" class="validate">
        {{ task.done ? 'Undone' : 'Done'}}
      </button>
      <button (click)="startEdit(task)" class="change">Modifier</button>
      <button (click)="deleteTask(task.id)" class="delete">Supprimer</button>
    </ng-template>

  </li>
</ol>


